<h3 mat-dialog-title><span *ngIf="!user">Ajouter un</span><span *ngIf="user">Modifier l'</span> Profile</h3>

<div *ngIf="isLoadingResults" fxLayout="column" fxLayoutAlign="center center" class="user-spinner">   
  <mat-spinner color="primary"></mat-spinner>
</div>
<div mat-dialog-content *ngIf="!isLoadingResults">
    <form [formGroup]="form">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="name" formControlName="name">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>nameCompany</mat-label>
            <input matInput placeholder="nameCompany" formControlName="nameCompany">
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>telephone</mat-label>
            <input matInput placeholder="telephone" formControlName="telephone">
          </mat-form-field>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!isLoadingResults">
    <button mat-raised-button color="primary" (click)="enregistrer()" [disabled]="!form.valid"><span *ngIf="!user">Save</span><span *ngIf="user">Update</span></button>
    <button mat-raised-button color="warn" [mat-dialog-close]="form.value">Cancel</button>
</div>