<mat-sidenav-container >

    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  
         <form [formGroup]="form"  fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
  
              <mat-card class="p-0 mat-elevation-z24 box">
                  <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                      <img width="150px" height="120px" src="./assets/logo.png">
                      
                  </div>
                  <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                      <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                          <span class="titre">Connexion</span>  
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Username</mat-label>
                              <input matInput placeholder="username" formControlName="username">
                              <mat-error *ngIf="form.controls.username.errors?.required">username ne doit pas etre vide</mat-error>
                              <mat-error *ngIf="form.controls.username.hasError('invalidusername')">username invalide</mat-error>
                          </mat-form-field>
                          <mat-form-field appearance="outline" class="w-100">
                              <mat-label>Password</mat-label>
                              <mat-icon matPrefix>lock</mat-icon>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>

                              <mat-error *ngIf="form.controls.password.errors?.required">password ne doit pas etre vide</mat-error>
                              <mat-error *ngIf="form.controls.password.hasError('minlength')">La longueur du mot de passe est de 6 caractere minimum</mat-error>
                          </mat-form-field>
                          <div fxLayout="row" fxLayoutAlign="start">

                          </div>
                      </mat-card>
                      <button mat-raised-button color="primary" (click)="onSubmit()" class="mat-elevation-z12 box-button" type="submit">Connexion</button>
                  </mat-card-content>
                  <div fxLayout="row" fxLayoutAlign="start">
                    <mat-card-content class="inscription">
                        <p>J'aimerais <a mat-button routerLink="/register">m'inscrire</a></p>
                    </mat-card-content>
                  </div>
              </mat-card>
              
          </form>    
    
    </div>
  
  </mat-sidenav-container>